{% extends "base.html" %}
{% block head %}
<style>
{% include 'calendar.css' %}
</style>
{% endblock %}
{% block title %}Iowa City Dance Events{% endblock %}
{% block content %}
<div class="event-list">
  <h1>Calendar</h1>
  <div style="display: none;">If you would like to submit an event to this list, <a target="_blank" rel="noopener" href="https://forms.gle/L6e2R9LgS7bepEgEA">
    fill out our form!</a>
  </div>
  <details class="event-filter-details">
    <summary>Filter By Dance Style</summary>
    <form>
      <fieldset>
        <legend>Dance Type</legend>

        {% for dance_type, display_name in filters['dance_types'].items() %}
        <label class="event-filter" data-dance-type="{{ dance_type }}">
          <input name="dance-type--{{ dance_type | lower }}" type="checkbox" checked />
          {{ display_name }}
        </label>
        {% endfor %}
      </fieldset>

    </form>
  </details>

  <div class="calendar__navigation-container">
    {% if event_context.prev_link %}
    <a class="calendar__navigation-button" href="{{ event_context.prev_link }}">
      Previous
    </a>
    {% else %}
    <span></span>
    {% endif %}
    <div class="calendar__navigation-title">{{ event_context.month_name() }}</div>
    {% if event_context.next_link %}
    <a class="calendar__navigation-button calendar__navigation-button--next" href="{{ event_context.next_link }}">Next</a>
    {% else %}
    <span></span>
    {% endif %}
  </div>

  <ol class="calendar">
    <li>Su</li>
    <li>Mo</li>
    <li>Tu</li>
    <li>We</li>
    <li>Th</li>
    <li>Fr</li>
    <li>Sa</li>
    {% for day in event_context.events_by_day %}
    <li
        {% if loop.first %}style="grid-column-start: {{ day.weekday() + 2 }}"{% endif %}
        class="calendar__date"
    >
      <button class="calendar__day-select" data-day="{{ day.format('YYYY-MM-DD') }}">
      {{ day.day }}
        <div class="calendar__event-markers">
          {% for dance_type in event_context.dance_types_on_day(day) %}
          <div class="calendar__event-marker" data-dance-type="{{ dance_type }}"></div>
          {% endfor %}
        </div>
      </button>
    </li>
    {% endfor %}
  </ol>

  <ol class="event-list">
    {% for event in event_context.events %}
    <li
      class="event-item event-item--hidden {% if loop.last %}event-item--last{% endif %}"
      data-dance-types="{{ ','.join(event.dance_types) }}"
      data-dates="{{ ','.join(event.formatted_dates()) }}"
    >
      <div class="event-name">

        <em class="event-time">
          {% include 'clock.svg' %}
          {{ event.print_date() }}
        </em>
        <strong>{{ event.name }}</strong>
      </div>
      {% if event.location %}
      <div class="event-line">
        {% include "location.svg" %}

        <a href="{{ event.maps_link() }}" target="_blank" rel="noopener">
          {{ event.location }}
        </a>
      </div>
      {% endif %}
      {{ event.description | safe }}
    </li>
    {% endfor %}
  </ol>
  <script>
  const danceTypeCheckboxes = () => [...document.querySelectorAll('[name^=dance-type--')]
  const filter = () => {
    const selectedDay = document.querySelector('.calendar').dataset.selectedDay;
    const enabledDanceTypes = danceTypeCheckboxes()
      .filter(it => it.checked)
      .map(it => it.name.split('--')[1].toUpperCase());

    const events = [...document.querySelectorAll('.event-item')]
    let lastVisible;
    events.forEach(event => {
      const eventDanceTypes = event.dataset.danceTypes.split(',');
      const matchesDanceType = enabledDanceTypes.some(type => eventDanceTypes.includes(type));
      const matchesDay = selectedDay && event.dataset.dates.includes(selectedDay);

      const enabled = matchesDanceType && matchesDay
      event.classList.toggle('event-item--hidden', !enabled);
      event.classList.remove('event-item--last');
      if (enabled) {
        lastVisible = event;
      }
    })
    lastVisible && lastVisible.classList.add('event-item--last');

    const eventPastilles = [...document.querySelectorAll('.calendar__event-marker')]
    eventPastilles.forEach(pastille => {
      const pastilleDanceType = pastille.dataset.danceType;
      const matchesDanceType = enabledDanceTypes.includes(pastilleDanceType)
      pastille.classList.toggle('event-item--hidden', !matchesDanceType);
    })
  }

  const form = document.querySelector('form');
  form.addEventListener('change', e => {
    const checkboxValues = danceTypeCheckboxes().map(box => ([box.name.split('--')[1], box.checked]))
    const filterObj = Object.fromEntries(checkboxValues);
    localStorage.setItem('danceFilterState', JSON.stringify(filterObj));
    filter()
  });

  const dayButtons = [...document.querySelectorAll('.calendar__day-select')];
  dayButtons.forEach(elem => {
    elem.addEventListener('click', e => {
      const selectedDay = e.currentTarget.dataset.day;

      document.querySelector('.calendar__day-select--selected')?.classList.remove('calendar__day-select--selected')
      e.currentTarget.classList.add('calendar__day-select--selected')
      document.querySelector('.calendar').dataset.selectedDay = selectedDay;
      filter();
    });
  });

  const filterState = JSON.parse(localStorage.getItem('danceFilterState'))
  Object.entries(filterState).forEach(([name, value]) => {
    const inputName = `dance-type--${name}`
    document.getElementsByName(inputName)[0].checked = value
  })

  filter();

  </script>
</div>
{% endblock %}
