{% extends "base.html" %}
{% block title %}Sweetcorn Swingout{% endblock %}
{% block head %}<meta name="description" content="The corniest swing event in America" >{% endblock %}
{% block content %}
<div>
  <h1>Sweetcorn Swingout</h1>
  {{ assets['scs'].tag(alt='Many people dancing indoors with a sweet corn swingout logo') }}

	<h2> Save the date! </h2>
	<b>July 4 to 6, 2025 </b> we will be
	hosting our second annual Sweetcorn Swingout in Iowa city. <b>Registration
	coming soon!</b>

	<h2> Instruction </h2>
	We will have over 4 hours of instruction led by Shannon Lea Watkins and Kevin
	Weng. With over a decade of experience teaching all over the United States we
	are <em>thrilled</em> to be hosting this deft duo in Iowa City.

	<h2> Live Music </h2>
	Our Saturday night dance will feature <a
	href="https://www.sweetieandthetoothaches.com/">Sweetie and the
	Toothaches</a>, visiting from St. Louis! Their 7 piece band delivers
	high-energy dance numbers and infectious enthusiasm through undeniable
	talent, making every show a memorable experience. 

	<h2> Jazz Festival‽ </h2>
	The <a
		href="https://summerofthearts.org/festival/2025-iowa-city-jazz-festival/">Iowa
		City Jazz Festival</a> is happening at the same time and mere blocks away
	from our programming! In between classes and dances, you can meander the
	streets of Iowa City, enjoying street food, artist booths, and live jazz of
	all varieties. We may even take our dancing to the streets!
	
</div>
{% endblock %}
