{% extends "base.html" %}
{% block title %}Iowa City Swing Dance{% endblock %}
{% block head %}<meta name="description" content="Your home page for swing dancing in southeast Iowa" >{% endblock %}
{% block content %}
<div>
  <h1>Swing Dance</h1>
  {{ assets['DSC06701'].tag(alt='Many people dancing indoors') }}
  <h2>Lessons</h2>
  <p>
    Classes are every Thursday, and are hosted at the Masonic Lodge event room at 312 E College Street, Iowa City.
    Your first class is free, otherwise the cost is $10 per evening, or $5 for students.
    Drop in - no need to register!
  </p>
  <ul style="margin-top: 0">
    <li>7:00 - 7:45pm Beginner Lesson</li>
    <li>7:45 - 8:15pm Social Dance/Practice</li>
    <li>8:15 - 9:15pm Level 2 Lessons</li>
  </ul>

  <p>
    A new series of 4 lessons begins at the first of every month.
    The first Thursday of the month is the best time to start for beginners!
  </p>

  <p>
    Join the <a target="_blank" href="https://www.facebook.com/groups/iowacityswingdance" rel="noopener">Facebook group</a>
    and/or follow our
    <a target="_blank" href="https://www.facebook.com/people/Iowa-City-Swing-Dance/61551358307657/" ref="noopener">Facebook page</a>
    for updates.
  </p>

  <h2>What is swing dance?</h2>

  <p>
    Swing dance is an umbrella term for a variety of styles of vintage jazz dance, including Lindy Hop (east coast swing), Charleston, and Balboa.
    They are all social and improvisational.
    Lindy Hop, the most famous swing dance, is an African-American jazz dance born in Harlem, New York City in 1928.
    It is primarily a partnered social dance, but includes elements of solo dancing, performances and competition.
  </p>

  <p>
    Each swing dance was created alongside the popular music of their day and they have an intrinsic bond to that music.
    So, we still dance them to music from the 20s, 30s, and 40s (and modern bands that play in that style).
    The music and the dances have deep roots in Black American culture, with a celebration of rhythm, a high value on individual expression, and the use of call and response forms.
  </p>

  <p>
    Watch the dance and learn the history:
  </p>

  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=qzc7vY9VTnk">Hellzapoppin'</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://youtu.be/m34eD21QzUw?si=8qQR7zW3zIOE0l28">Frankie Manning</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://youtube.com/playlist?list=PL3kGjHGQAvALzS-ndCsrESptDeQxWAzoK&si=QbD3a1UsVjTRkPMN">Watch more about the history of Lindy Hop</a>
    </li>
  </ul>

  <h2>
    About the club
  </h2>
  <p>

    Iowa City Swing Dance welcomes everyone regardless of gender, gender identity and expression, age, sexual
    orientation, disability, physical appearance, body type, race, ethnicity, or religion. That means we celebrate the
    Black heritage and creators of swing dance, respect everyone’s boundaries, allow anyone to dance in either role, and
    celebrate diversity including: LGBTQ+ and BIPOC folks.

    Mind your business. Be kind to all. And just dance.
  </p>

  <h2>Getting Started / Practice</h2>
  <p>Follow along with these videos to practice on your own!</p>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=N_FFx7xE8dg&ab_channel=SecretsofSolo">Practice pulse</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=kvh1dYcPlPc&ab_channel=SyncopatedCity">Practice triple steps</a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://www.youtube.com/watch?v=tZbArq08Aw8&ab_channel=LauraGlaess">Practice the basic 6-count and 8-count steps</a>
    </li>
  </ul>
  <p>🎵 Listening to vintage jazz is one of the best ways to improve your dancing.</p>
  <ul>
    <li>
      <a target="_blank" rel="noopener" href="https://open.spotify.com/playlist/2QVbXvTWQ5ovGnrEZKgn3g?si=9f4ee2b6e5554125">
        Swing + Pulse Playlist
      </a>
    </li>
    <li>
      <a target="_blank" rel="noopener" href="https://open.spotify.com/playlist/6aaYKCHDbmJuJBf7T0hJSB?si=550733d748ac4f6a">
        Slow & Groovy Playlist
      </a>
    </li>
  </ul>
</div>
To contact club organizers, email <a href="mailto:danceiowacity@gmail.com">danceiowacity@gmail.com</a>
{% endblock %}
