{% extends "base.html" %}
{% block title %}Iowa City Swing{% endblock %}
{% block head %}<meta name="description" content="Your home page for swing dancing in southeast Iowa" >{% endblock %}
{% block content %}
<h1>Iowa City Swing Dance</h1>
{{ assets['DSC06701'].tag(alt='Many people dancing indoors') }}
<p>
  The Roaring Twenties are alive and well in Iowa City! We have lessons on every Thursday at Public Space 1 South,
  with the following schedule:
</p>
<ul style="margin-top: 0">
  <li>7:30 - 8:00pm Beginner Lesson</li>
  <li>8:00 - 8:30pm Social Dance</li>
  <li>8:30 - 9:30pm Intermediate Lesson</li>
</ul>

Your first lesson is free, so swing on by and give us a try!

<p>
  There are also opportunities for social dancing in Southeast Iowa, including dancing on live music!
  We maintain an <a href="/index.html">event list</a> so you can stay up to date on what's happening.
</p>
{% endblock %}
