<!doctype html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta charset="UTF-8">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Dongle:wght@400;700&family=Yellowtail&display=swap" rel="stylesheet">
    <style>{% include 'assets/sweetcorn/style.css' %}</style>
		<title>Sweet Corn Swingout</title>
	</head>
	<body>
		<header class="center main-header">
			<img class="logo" src="{{assets['assets/sweetcorn/logo.svg'].absolute_path}}">
		</header>
		<main class="center">
			<div class="breakout banner">
				{{ assets['sweetcorn/banner'].tag(class="banner-img") }}
			</div>
			<div class="content columns-3">
				<div>
					<h1 class="center-text ff-primary-heading call-out"> Iowa City, Iowa <br> July 3-5, 2026</h1>
				</div>
				<div class="span-2 fs-500 gaps color-primary text-bf">
					<p>

						Shuck off your inhibitions, crop dust off your dancing shoes, and
						meet us on the dance floor for Iowa City's Sweet Corn Swingout!
						The seeds are still being sown. Check back
						after a spring rain for more details!
					</p>
				</div>
			</div>

		</main>
		<footer class="main-footer center fs-200">

			<div>
				<b>Have a question?</b>
				<p> Contact us at: <a href="mailto:danceiowacity@gmail.com">danceiowacity@gmail.com</a></p>
				<p> View our <a href="https://docs.google.com/document/d/1Vww4W2TPWfHzbu7yfFPONb7Q0gKbdxpCLq9BEPVHX2k/edit?usp=sharing"> code of conduct </a> </p>
			</div>

			<div>
				<b>Follow Sweet Corn Swingout</b>
				<p> for updates </p>
				<a href="https://www.facebook.com/share/1BsandYsw7/">Facebook</a>
			</div>

			<div>
				<p>
					Persons attending Sweet Corn Swingout events may be recorded or
					photographed as an event attendee. These images may be used for Sweet
					Corn Swingout programming or promotion.
				</p>
			</div>

			<div>
				<b> Return to full website </b>
				<p>
				<a href="https://danceiowacity.com/swing.html">Iowa City Swing Dance</a>
				</p>
				<p>
				<a href="https://danceiowacity.com/">Iowa City Dance Calendar</a>
				</p>
			</div>
		</footer>
	</body>
</html>
