{% macro instructor(name, img) -%}
<section>
	<div class="profile-img-container stack">
		{{ assets[img].tag(class="center stacked profile-img") }}
		<div class="bg-stripe full-bleed stacked"></div>
	</div>
	<p>
		<b>{{name}}</b> {{ caller() }}
	</p>
</section>
{%- endmacro %}
<section id="instructors" class="content columns-3">
	<hgroup class="ff-primary-heading center-text span-3">
		<h1 class="fs-700"> Instructors </h1>
	</hgroup>
	{% call instructor("Phil Attoh-Okine (he/him)", "sweetcorn/profile_missing") %}
		... coming soon!
	{% endcall %}

	{% call instructor("Shannon Lea Watkins (she/her)", "sweetcorn/profile_2") %}
			is a force on the dance floor, delighted by a squishy pass, a fiery swing
			out, and a new idea. Honoring her ancestors of both blood and Lindy Hop,
			she strives to embody connection, improvisation, and social justice in
			her life and in her dance. After two- stepping with her dad in her
			childhood living room, learning to Lindy Hop in Bloomington, Indiana, and
			honing her craft in San Francisco, California, she now calls Iowa City
			home. For years, she taught with Kevin across the San Francisco Bay Area,
			and she is excited to share things they love with the Midwest!
	{% endcall %}

	{% call instructor("Javi Javier (he/him)", "sweetcorn/profile_missing") %}
			multidisciplinary artist from Manila,
			Philippines, with interests in visual arts,
			theater, and dance. Since high school,
			he has performed and choreographed
			for different outlets, such as children’s
			theater shows, church dance ministry,
			and company annual events. He has
			been a regular clubhead, dancing at the
			clubs in Manila, Guangzhou, or New
			York for the past 10+ years. This
			rekindled his love for dance and grew a
			particular interest in freestyle and club
			styles such as House, Punking, and
			Waacking. He believes in the healing
			and nurturing power of the arts. He is
			passionate about community building
			and arts education.
	{% endcall %}

	{% call instructor("Alina Lusebrink (they/them)", "sweetcorn/profile_missing") %}
			... coming soon!
	{% endcall %}

	{% call instructor("Nicole Frydman (she/her)", "sweetcorn/profile_missing") %}
			... coming soon!
	{% endcall %}
</section>
