{% macro instructor(name, img) -%}
<section>
	<div class="profile-img-container stack">
		{{ assets[img].tag(class="center stacked profile-img") }}
		<div class="bg-stripe full-bleed stacked"></div>
	</div>
	<p>
		<b>{{name}}</b> {{ caller() }}
	</p>
</section>

{%- endmacro %}
<section id="instructors" class="content columns-3">
	<hgroup class="ff-primary-heading center-text span-3">
		<h1 class="fs-700"> Instructors </h1>
	</hgroup>
	{% call instructor("Nii (Phil) Attoh-Okine (he/him)", "sweetcorn/nii_profile") %}
			is an avid
			Lindy Hop dancer, competitor, and DJ
			from Baltimore, Maryland. Over the
			past decade, Nii has traveled to dance
			scenes around the world, drawing
			inspiration from the diverse styles he’s
			encountered and sharing that
			perspective with his local community at
			Mobtown Ballroom. His classes
			emphasize the deep interdependence
			between partners and the music—
			focusing on how rhythm, connection,
			and shared creativity create a truly
			joyful dance.
	{% endcall %}

	{% call instructor("Shannon Lea Watkins (she/her)", "sweetcorn/profile_2") %}
			is a force on the dance floor, delighted by a squishy pass, a fiery swing
			out, and a new idea. Honoring her ancestors of both blood and Lindy Hop,
			she strives to embody connection, improvisation, and social justice in
			her life and in her dance. After two- stepping with her dad in her
			childhood living room, learning to Lindy Hop in Bloomington, Indiana, and
			honing her craft in San Francisco, California, she now calls Iowa City
			home. For years, she taught with Kevin across the San Francisco Bay Area,
			and she is excited to share things they love with the Midwest!
	{% endcall %}

	{% call instructor("Javi Javier (he/him)", "sweetcorn/javi_profile") %}
			is a multidisciplinary artist from Manila,
			Philippines, with interests in visual arts,
			theater, and dance. Since high school,
			he has performed and choreographed
			for different outlets, such as children’s
			theater shows, church dance ministry,
			and company annual events. He has
			been a regular clubhead, dancing at the
			clubs in Manila, Guangzhou, and New
			York for the past 10+ years. This
			rekindled his love for dance and grew a
			particular interest in freestyle and club
			styles such as House, Punking, and
			Waacking. He believes in the healing
			and nurturing power of the arts. He is
			passionate about community building
			and arts education.
	{% endcall %}

	{% call instructor("Instructor and DJ: Alina Lusebrink (they/hu)", "sweetcorn/alina_profile") %}
			is a sometimes
			dancer, always jazz enthusiast. Alina first
			learned to dance in 2013 as an undergrad
			and, while drawn to leading, was directed
			to learn to follow first instead due to their
			perceived gender. But the rebel in Alina
			had other plans, and hu instead learned
			both roles simultaneously, with switch
			dancing quickly becoming their focus.
			Alina believes the music comes first and is
			what drives us to move. Hu has DJed at
			events across California and the Midwest,
			and now trains others to DJ for dancers.
			Alina highlights Black artists in their sets,
			and they are partial to music with playful
			piano and a strong beat.

 			Photo credit: Mila Moore Photograph
	{% endcall %}

	{% call instructor("Nicole Frydman (she/her)", "sweetcorn/nicole_profile") %}
			has been dancing
			a variety of styles of dance for 46 years,
			dancing swing for 29 years, and teaching
			swing for 26 years. She knows for a fact that
			everyone can learn to dance. All it takes is an
			open mind and a willingness to be bad at
			something before you’re good at something.
			One of the main concepts behind her
			teaching theory is, “The road to Good is
			Suck. There is no other road. We all start out
			as novices and only get good through
			practice. So, don’t be afraid to suck.
			Because the truth is, you do! But it’s
			temporary if you’re open to just a little bit of
			effort. And the great news is that dancing
			swing is super fun while you’re learning.
			Bonus!"
	{% endcall %}
</section>
