<section id="local-guide" class="content columns-3">
	<hgroup class="span-3">
		<h1 class="fs-700 center-text ff-primary-heading"> Local Guide: venues, parking, food, and more! </h1>
		<p class="fs-400">
			Since Sweet Corn Swingout is at the same time as Iowa City Jazz
			Festival, an event that takes over all of the downtown, we
				recommend planning an extra 15 minutes to navigate through
				downtown and find parking. All venues are in downtown Iowa City.
					<a
						href="https://www.icgov.org/government/departments-and-divisions/transportation/transit">All
						Iowa City buses</a> and the <a
						href="https://transportation.uiowa.edu/cambus">UI
					cambuses</a> are free and all our locations are walkable in
				downtown. 
		</p>
	</hgroup>
	<section class="card">
		<hgroup>
		<h1 class="text-bf"><a href="https://iowacitymasonicbuilding.com/facilities/social-hall/">Masonic Lodge Event Space</a></h1>
		<p>312 E College St.</p>
		</hgroup>
		<h2 class="text-bf">Events:</h2>
		<ul>
			<li>Friday Advanced Lindy Hop Classes</li>
			<li>Saturday All-Levels Solo Jazz Class</li>
			<li>Saturday Intermediate Lindy Hop Classes</li>
		</ul>
		<h2 class="text-bf">Parking:</h2>
		<ul>
			<li><a href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Dubuque Street Ramp</a></li>
			<li><a href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Chauncey Street Ramp</a></li>
		</ul>
		<p>
			On Friday, July 4 and  every day after 6 p.m., the street metered
			parking is free. There is also free street parking a few blocks
			east of venue on E College Street. However, with the Jazz Fest in
			town, plan extra time to find free parking.
		</p>
	</section>
	<section class="card">
		<hgroup>
		<h1 class="text-bf"><a href="https://oldbrick.org/">Old Brick</a></h1>
		<p>26 E Market St.</p>
		</hgroup>
		<h2 class="text-bf">Events:</h2>
		<ul>
			<li>Saturday Beginner Lesson</li>
			<li>Saturday Dance with Sweetie and the Toothaches</li>
		</ul>
		<h2 class="text-bf">Parking:</h2>
		<ul>
			<li><a href="https://transportation.uiowa.edu/parking/facilities/iowa-memorial-union-ramp">Iowa Memorial Union Ramp</a></li>
			<li><a href="https://transportation.uiowa.edu/parking/facilities/north-campus-ramp">North Campus Ramp</a></li>
		</ul>
		<p>
			After 6 p.m., the street metered parking and the <a
				href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Chauncey
				Swan Ramp</a> (a 10-minute walk away) are both free. However,
			with the Jazz Fest in town, plan extra time to find free parking.
		</p>
	</section>
	<section class="card">
		<hgroup>
			<h1 class="text-bf"><a href="https://maps.app.goo.gl/SZengsptV2RHtjcH8">The Green House</a></h1>
		<p>505 E Washington St.</p>
		</hgroup>
		<h2 class="text-bf">Events:</h2>
		<ul>
			<li>Sunday Goodbye Dance</li>
		</ul>
		<h2 class="text-bf">Parking:</h2>
		<p>
		On Sundays, the street metered parking and the <a
				href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Chauncey
				Swan Ramp</a> (right next door) are free!
		</p>
	</section>
</section>
<section class="content columns-2">
	{{ assets['sweetcorn/jazz-fest'].tag(class="z-1 center-block") }}
	<div class="fs-500 gaps center-block">
		<p class="bg-accent full-bleed pad-block">
			With Iowa City Jazz Festival, there will be many food trucks and
			vendors on the corner of Iowa Avenue and S Clinton Street. This is
			an easy walk from all of our venues! Here are a few more Iowa City
			favorites that are all a 15-minute or less walk from our venues. 
		</p>
		<p>
		<b>Coffee:</b> Fix!, Prairie Lights Cafe (includes pastries AND books),
			Java House Downtown (offers breakfast/pastries), Bread Garden
			(offers breakfast/pastries), Cortado (offers breakfast/pastries)
		</p>
		<p>
		<b>Quick Breakfast + Lunch:</b> Cortado, Nodo Downtown, Oasis, Bread Garden
		</p>
		<p>
			<b>Shopping:</b> Prairie Lights (local bookstore), Artifacts (vintage
			shopping), Revival (new and used vintage women’s clothing)
		</p>
		<p>
			Looking for more? Check out Iowa City Downtown District.
		</p>
	</div>
</section>
