<section id="local-guide" class="content columns-3">
	<hgroup class="span-3">
		<h1 class="fs-700 center-text ff-primary-heading"> Local Guide: venues, parking, food, and more! </h1>
		<p class="fs-400">
			Since Sweet Corn Swingout is at the same time as Iowa City Jazz
			Festival, an event that takes over all of the downtown, we
				recommend planning an extra 15 minutes to navigate through
				downtown and find parking. All venues are in downtown Iowa City.
					<a
						href="https://www.icgov.org/government/departments-and-divisions/transportation/transit">All
						Iowa City buses</a> and the <a
						href="https://transportation.uiowa.edu/cambus">UI
					cambuses</a> are free and all our locations are walkable in
				downtown. 
		</p>
	</hgroup>
	<section class="card">
		<hgroup>
		<h1 class="text-bf"><a href="https://iowacitymasonicbuilding.com/facilities/social-hall/">Masonic Lodge Event Space</a></h1>
		<p>312 E College St.</p>
		</hgroup>
		<div>
			Friday Advanced Lindy Hop Classes
			<br>
			Saturday All-Levels House Dance Class
			<br>
			Saturday Intermediate Lindy Hop Classes
		</div>
		<h2 class="text-bf">Parking:</h2>
		<div>
			<a href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Dubuque Street Ramp</a>
			<br>
			<a href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Chauncey Street Ramp</a>
		</div>
		<p>
			On Friday, July 4 and  every day after 6 p.m., the street metered
			parking is free. There is also free street parking a few blocks
			east of venue on E College Street. However, with the Jazz Fest in
			town, plan extra time to find free parking.
		</p>
	</section>
	<section class="card">
		<hgroup>
		<h1 class="text-bf"><a href="https://www.thejamesic.com/">The James Theatre</a></h1>
		<p>213 N Gilbert St.</p>
		</hgroup>
		<div>Saturday Dance with the Showboat Jazz Collective</div>
		<h2 class="text-bf">Parking:</h2>
		<p>
			<a href="https://transportation.uiowa.edu/parking/facilities/iowa-memorial-union-ramp">Iowa Memorial Union Ramp</a>
			<br>
			<a href="https://transportation.uiowa.edu/parking/facilities/north-campus-ramp">North Campus Ramp</a>
		</p>
		<p>

			After 6 p.m., the street metered
			parking and the Chauncey Swan Ramp
			(a 10-minute walk away) are both free.
			However, with the Jazz Fest in town,
			plan extra time to find free parking.
		</p>
	</section>
	<section class="card">
		<hgroup>
			<h1 class="text-bf"><a href="https://sanghaic.com/#find-us">Brewery Square (sangha)</a></h1>
			<p>123 North Linn Street  |  Suite 2F</p>
		</hgroup>
		<p>Saturday Blues Dance</p>
		<h2 class="text-bf">Parking:</h2>
		<p>Free street parking (meters not enforced).</p>

		<hgroup style="margin-top: 40px">
			<h1 class="text-bf"><a href="https://maps.app.goo.gl/SZengsptV2RHtjcH8">The Green House</a></h1>
			<p>505 E Washington St.</p>
		</hgroup>
		<h2 class="text-bf">Events:</h2>
		<p>
			Sunday Goodbye Dance
		</p>
		<h2 class="text-bf">Parking:</h2>
		<p>
			On Sundays, the street metered parking and the <a
				href="https://www.icgov.org/government/departments-and-divisions/transportation/parking/parking-ramps-parking-meters">Chauncey
			Swan Ramp</a> (right next door) are free!
		</p>
	</section>
</section>
<section class="content columns-2">
	{{ assets['sweetcorn/jazz-fest'].tag(class="z-1 center-block") }}
	<div class="fs-500 gaps center-block">
		<p class="bg-accent full-bleed pad-block" style="margin-top: -20px">
			With <a href="https://summerofthearts.org/sota-events/iowa-city-jazz-festival/">
			Iowa City Jazz Festival</a>, there will be many food trucks and
			vendors on the corner of Iowa Avenue and S Clinton Street. This is
			an easy walk from all of our venues! Here are a few more Iowa City
			favorites that are all a 15-minute or less walk from our venues. 
		</p>
		<p>
		<b>Coffee:</b>
			<a href="https://chaunceyfix.com/">Fix!</a>,
			<a href="https://www.facebook.com/PrairieLightsCafe/">Prairie Lights Cafe</a> (includes pastries AND books),
			<a href="https://thejavahouse.com/cafes-kiosks/">Java House Downtown</a> (offers breakfast/pastries),
			<a href="https://breadgardenmarket.com/marketdepartments">Bread Garden</a> (offers breakfast/pastries)
		</p>
		<p>
		<b>Quick Breakfast + Lunch:</b>
			<a href="https://nodoiowacity.com/">Nodo Downtown</a>,
			<a href="https://oasisfalafel.com/">Oasis</a>,
			<a href="https://breadgardenmarket.com/marketdepartments">Bread Garden</a>
		</p>
		<p>
			<b>Shopping:</b>
			<a href="https://www.prairielights.com/">Prairie Lights (local bookstore)</a>,
			<a href="https://artifacts-iowacity.com/">Artifacts</a> (vintage shopping),
			<a href="https://revivaliowacity.com/pages/about-us">Revival</a> (new and used vintage women’s clothing)
		</p>
		<p>
			Looking for more? Check out <a href="https://downtowniowacity.com/">Iowa City Downtown District.</a>
		</p>
	</div>
</section>
