<section id="passes" class="content columns-3">
	<hgroup class="ff-primary-heading center-text span-3">
		<h1 class="fs-700"> Passes </h1>
	</hgroup>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Beginner Full Weekend Pass: $60 </h1>
		<p>
			If you've never danced before or just started dancing in the last 1 to 3
			months, this pass is for you! The beginner crash course lessons will get
			you feeling comfortable with the basics and grooving on the dance floor.
			Your instructors Alina Lusebrink and Nicole Frydman will take you from
			zero to (dance) hero before you realize it! Plus, with access to 4 dances
			in one weekend, you'll have an incredible time, meet lots of new people,
			try out your new moves, and jumpstart your new dance hobby. 
		</p>
		
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All-Levels House Dance Class on Saturday </li>
			<li> Beginner lessons on Saturday </li>
			<li> All dances from Friday to Sunday</li>
		</ul>
	</section>
	<section class="bg-accent card fs-300">
		<h1 class="text-bf fs-500"> Full Weekend Pass: $75 </h1>
		<p>
			Can you triple step in your sleep? You're comfortable with the basics and
			have your go- to 6-count and 8-count moves. You're thinking more about
			connection and exploring nuance in your dance. These classes will
			level-up your Lindy Hop by challenging you with new moves, concepts, and
			understanding of the leading/following dynamic.  If you are still getting
			comfortable with Swingouts, Circles, and basic Charleston—please sign up
			for a Beginner Pass.
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All-Levels House Dance Class on Saturday </li>
			<li> Intermediate Lindy Hop Classes on Saturday </li>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Dance Pass: $40 </h1>
		<p>
			Are you excited to hangout in downtown Iowa City during Jazz Fest and hit
			up the Lindy Hop dances? This party Dance Pass is for you!
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Add the Advanced Lindy Hop Workshop to any pass: $40 </h1>
		<p>
			Have you been dancing Lindy Hop for several years, traveled to workshops
			or dance events, and like to be challenged in class? Are you focused on
			improving the quality of your basic movement, as well as your lead and
			follow connection at a more refined level? These classes will not only
			give you new vocabulary but also refine your basics, work on musicality,
			and improve your lead and follow connection
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li>Advanced Lindy Hop Workshop on Friday</li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> à la carte </h1>
		<ul>
			<li> Add the Advanced Workshop: $40 </li>
			<li> All-Levels House Dance Class: $15 </li>
			<li> Showboat Jazz Collective Dance: $20 </li>
			<li> Late-Night Blues Dance: $10 </li>
			<li> Sunday Goodbye Dance: $15 </li>
		</ul>
	</section>
</section>
