<section id="passes" class="content columns-3">
	<hgroup class="ff-primary-heading center-text span-3">
		<h1 class="fs-700"> Passes </h1>
	</hgroup>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Beginner Pass $35 </h1>
		<p>
			Have you just started learning Lindy Hop within the last few
			months? This pass gives you three dances to meet new dancers and
			practice your moves. You'll get to improve your footwork and
			musicality in the All-Levels Solo Jazz Class on Saturday and
			fine-tune your basic moves during the beginner class (7:30–8 p.m.)
			before the Saturday evening dance.
		</p>
		
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All-Levels Solo Jazz Class on Saturday </li>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="bg-accent card fs-300">
		<h1 class="text-bf fs-500"> Intermediate Pass $65 </h1>
		<p>
			Can you triple step in your sleep? You're comfortable with the
			basics and have your go- to 6-count and 8-count moves. You're
			thinking more about connection and exploring nuance in your dance.
			These classes will level-up your Lindy Hop by challenging you with
			new moves, concepts, and understanding of the leading/following
			dynamic.  If you are still getting comfortable with Swingouts,
			Circles, and basic Charleston—please sign up for a Beginner Pass.
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All-Levels Solo Jazz Class on Saturday </li>
			<li> Intermediate Lindy Hop Classes on Saturday </li>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Advanced Pass $65 </h1>
		<p>
			Have you been dancing Lindy Hop for several years, traveled to
			workshops or dance events, and like to be challenged in class? Are
			you focused on improving the quality of your basic movement, as
			well as your lead and follow connection at a more refined level?
			These classes will not only give you new vocabulary but also refine
			your basics, work on musicality, and improve your lead and follow
			connection.
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> Advanced Lindy Hop Classes on Friday </li>
			<li> All-Levels Solo Jazz Class on Saturday </li>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Advanced + Intermediate Pass $95 </h1>
		<p>
			This pass includes everything from the Advanced Pass PLUS the
			intermediate classes on Saturday afternoon. Whether you're looking
			for more class time or wanting to switch roles during the
			intermediate class, we are thrilled to have you for the FULL
			WEEKEND. 
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> Advanced Lindy Hop Classes on Friday </li>
			<li> All-Levels Solo Jazz Class on Saturday </li>
			<li> Intermediate Lindy Hop Classes on Saturday </li>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> Dance Pass $30 </h1>
		<p>
			Are you excited to hangout in downtown Iowa City during Jazz fest
			and hit up the Lindy Hop dances? This party Dance Pass is for you!
		</p>
		<h2 class="text-bf fs-400"> This pass includes: </h2>
		<ul>
			<li> All dances from Friday to Sunday </li>
		</ul>
	</section>
	<section class="card fs-300">
		<h1 class="text-bf fs-500"> à la carte </h1>
		<ul>
			<li> Advanced Classes: $45 </li>
			<li> Lindy in the Streets: Free! </li>
			<li> All-Levels Solo Jazz Class: $15 </li>
			<li> Intermediate Classes: $50 </li>
			<li> Sweetie and the Toothaches Dance + Beginner Lesson: $20</li>
			<li> Sweetie and the Toothaches Dance + Beginner Lesson: Student
				Rate - $15</li>
			<li> Sunday Goodbye Dance: $15 </li>
		</ul>
	</section>
</section>
